.container{
  h4{
    color: white;
    margin-bottom: 10px;
  }
  ul{
    display: flex;
    flex-direction: column;
    a{
      padding: 5px;
      color: #5F6C72;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover{
        color: white;
        span{
          display: block;
          width: 30px;
          height: 1px;
          background-color: #EBC80C !important;
          margin-right: 5px;
        }
      }
    }
  }
}