.block {
  width: 80%;
  margin:  0 auto;
}
.items {
  margin-top: 50px;
}
.title {
  color: var(--gray-900, #191C1F);

  /* Heading/01 */
  font-family: Public Sans sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
}