.userInfo {
  display: flex;
  gap: 30px;
  width: 100%;

  .btn {
    width: 100%;

    button {
      width: 100%;
      margin: 0;
      padding: 0;
      a{
        width: 100%;
      }
    }
  }
  .firstPart{
    width: 50%;
  }
  .secondPart{
    width: 50%;
  }
}