.block {
  display: flex;
  gap: 1rem;
  align-items: center;

}
.title {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  font-family: Public Sans sans-serif;
  color: var(--gray-900, #191C1F);
  margin-bottom: 0.5rem;
}
.data
{
  color: var(--gray-500, #77878F);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  font-family: Public Sans sans-serif;
  //color: var(--gray-500, #77878F);
}