.block {
  background: white;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  gap: 15px;

  .iconWrapper {
    width: max-content;
    padding: 25px;
    border-radius: 3px;
    height: max-content;

    svg {
      font-size: 25px;

    }
  }

  .blueIcon {
    background: rgba(45, 165, 243, 0.12);
    color: #2DA5F3;
  }

  .greenIcon {
    background: rgba(12, 166, 32, 0.14);
    color: #0ca620;
  }

  .infoWrapper {
    h4 {
      color: var(--gray-900, #191C1F);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }

    h3 {
      color: var(--gray-900, #191C1F);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      margin: 10px 0;
    }

    p {
      color: var(--gray-600, #5F6C72);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    button {
      padding: 0 30px;
      display: flex;
      align-items: center;
      gap:10px;
      border: none;
      color: var(--gray-00, #FFF);
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0.168px;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover{
        transform: scale(1.05);
      }
    }
    .blueBtn{
      background: #2DA5F3;
    }
    .greenBtn{
      background: #0ca620;
    }
  }
}