.emailInput {
  margin-bottom: 16px;
}
.tabs {
  margin-bottom: 20px;
}
.forgetPassword {
  cursor: pointer;
  top: 2px;
  right: 0;
  position: absolute;
  font-size: 14px;
  color: var(--secondary-500, #2DA5F3);
}
.passwordInput {

  position: relative;
}
.orChoose {
  margin: 20px 0;
  align-items: center;
  display: flex;
  gap: 5px;
}
.line {
  border-bottom: 1px solid var(--gray-100, #E4E7E9);
  width: 100%;
}
.googleAuth {
  margin: 30px auto;
}