.item{
  border: 1px solid rgba(119, 135, 143, 0.22);
  padding: 10px;
  margin: 10px;
}
.image{
  margin-bottom: 15px;
  img{
    max-width: 202px !important;
    max-height: 172px !important;
    object-fit: cover;
  }
}
.info{
  .title{
    max-width: 200px;
    overflow: hidden;
    height: 43px;
    margin: 10px 0;
    line-height: 22px;
  }
  .price{
    color: #2DA5F3;
    font-size: 14px;
    margin: 10px 0;
  }
}