.block {
  margin: 0 auto;
  width: 90%;
}
.blockWrapper {
  gap: 10px;
  display: flex;
}
.filters {
  width: 25rem;
}

.header {
  background: var(--gray-50, #F2F4F5);
  margin-bottom: 40px;
}
.wrapper {
  width: 90% !important;
  margin: 0 auto;

}
.breadCrumb {
  padding: 20px 0;
}