.block {
  margin: 0 auto 5rem;
  width: 80%;
}
.blockWrapper {
  gap: 10px;
  display: flex;
}
.filters {
  width: 25rem;
}
.breadCrumb {
  margin-bottom: 40px;
}

.wrapper {
  width: 90% !important;
  margin: 0 auto;
}
