.container {
    width: 90%;
    margin: 0 auto;
}
.block {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 33px;
}
.title {
  margin-top: 72px;
  color: var(--gray-900, #191C1F);
  /* Heading/03 */
  font-family: Public Sans sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.itemsBlock {
  justify-items: center;
  display: grid;
  gap: 30px;

  grid-template-columns: repeat(4 , 1fr);
}
.skeleton {
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 10px;
}
.carouselItems {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 72px;
}
.banner {
  width: 100%;
  justify-content: center;

  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  margin-bottom: 72px;
}