.block {
  gap: 6px;
  display: flex;
  font-family: Public Sans sans-serif;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  font-style: normal;
  font-weight: 400;
  p {
    color: var(--gray-600, #5F6C72);
  }
  a {
    color: var(--secondary-500, #2DA5F3);
    font-weight: 500;
  }
}