.setting{
  width: 100%;

  .main {
    display: flex;
    padding: 24px;
    gap:100px;
    width: 100%;

    .avatar {
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
  .info{
    width: 100%;
  }
}
