.wrapper{
  cursor: pointer;
  .color{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .default{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #191C1F;
  }

}
.activeColor{
  border:1px solid #FA8232;
  padding: 4px;
  border-radius: 50%;
}
