.block {
  display: flex;
  justify-content: space-between;
  padding: 56px;
  width:  81%;
  gap: 20px;
  height: 22rem;
  border-radius: 6px;
  background: var(--gray-50, #F2F4F5);
  margin-bottom: 50px;
}

.textBlock {
  margin-top: 125px;
}
.title {
  color: var(--gray-900, #191C1F);
  margin-bottom: 16px;

  /* Display/03 */
  font-family: Public Sans sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
}
.btn {
  width: 10rem;
  transition: .4s linear;
  cursor: pointer;
  border: none;
  display: flex;
  padding: 8px ;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 3px;
  background: var(--primary-500, #FA8232);
  &:hover {
    scale: 1.05;
  }
}
.btnText {
  text-transform: uppercase;
  color: var(--gray-00, #FFF);

  /* Heading/06 */
  font-family: Public Sans sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.photoBlock {
  display: flex;
  position: relative;
}
.price {
  top: 0;
  right: 0;
  font-size: 20px;
  position: absolute;
  color: white;
  padding:  4ch 3.6ch;
  border-radius: 100%;
  background: var(--secondary-500, #2DA5F3);
}