.container{
  width: 80%;
}
.leftBlock {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.35);
  width: 240px;
  border-radius: 5px;
}
.items {
  margin-top: 20px;
  color: #5F6C72;
}

.arrow {
  display: none;
}

.item {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: .4s linear;
  width: 100%;
  font-size: 15px;
  margin: 5px 0;
}

.loading {
  width: 50%;
  margin: 25% auto;
  text-align: center;
}

.block {
  gap: 12px;
  display: flex;
  width: 100%;

}

.rightBlock {
  padding: 14px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 5px;

  li {
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    color: #5F6C72;
    &:hover {
      background-color: rgba(0, 0, 0, 0.07);
      color: black;
    }
  }
  .brands {
    width: 50%;
  }
  .list {
    width: 20%;
  }
}

.activeHover {
  background-color: rgba(0, 0, 0, 0.07);
  color: black !important;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: .4s linear;
  width: 100%;
  font-size: 15px;
  margin: 5px 0;
}