
.productInfo {
  display: flex;
  align-items: center;

  width: 60% !important;
  margin-right: 5vh;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 15px;
  }
  svg{
    font-size: 30px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
      color: red;
    }
  }
}

.list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  li{
    width: 25%;
    text-align: left;
  }


}