.block {
  width: 40%;
  margin:  5rem auto;
  border: 1px solid var(--gray-100, #E4E7E9);
  border-radius: 5px;
}
.icon {
  color: white;
}
.topBLock {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 2rem;
  background-color: #8BC34A;
}
.footerBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  color: grey;
  text-align: center;
}
.text {
  font-family: "Source Sans Pro", sans-serif;
}
.footerText {
  width: 80%;
  margin: 0 auto;
}
