.product {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin: 20px 0;

  .priceWrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
  }

  img {
    width: 70px;
    height: 75px;
    object-fit: contain;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
  }

  .price {
    color: #2da5f3;

    span {
      color: #5f6c72;
    }
  }

  a {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
    text-decoration: none;
    color: #191c1f;
    &:hover {
      opacity: 0.6;
      transition: 0.3s ease-in-out;
    }
  }
}
